.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-image: var(--page-bc-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-bc-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: flex;
  flex-direction: column;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
}

.gallery_image {
  display: block;
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.footer{
  display: flex;
}